*,*::before, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.carousel {
    width: 50%;
    height: 50%;
    position: relative;

}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;

}
.slide > img{
    display: block;
    width: 600px;
    height: 400px;
    object-fit: cover;
    object-position: center;

    
    

}
.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top:50%;
    transform: translateY(200%);
    color: rgb(187, 126, 36);
    ;
    border-radius: 5px;
    padding: 0.5px;
    background-color:rgba(0,0,0 .1);
}
.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0,0,0 .2);
}
.carousel-button:focus {
    outline: 1px solid black;
}
.carousel-button.prev{
    left:1rem;
}
.carousel-button.next{
    right:1rem;
}
